<footer  class=" foot">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-4">
      
      Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by working in weekends
      
    </div>
    
      <div class=col-sm-4>
        <div class="btn-group " role="group" aria-label="Basic example">
        
          <button type="button" class="btn btn-link" href="https://medium.com/@beeman"><i class="fa fa-facebook" aria-hidden="true"></i></button>
      
        
          <button type="button" class="btn btn-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></button>
        
        
          <button type="button" class="btn btn-link" href="https://github.com/beeman"><i class="fa fa-instagram" aria-hidden="true"></i></button>
        </div> 
      </div>
    </div>
  </div>
  
</footer>
